.vscode/

.env
.env.*
!.env.example

.venv

*.class
*.o
*.pyc
*.pyo
__pycache__/

*.m4a
*.mp3
*.mka
*.wav
whisper.cpp/


services/ingestion_prototype/logs

**/pipeline_*/
!pipeline_NLP/

services/ingestion_prototype/connector_TV_Radio/outputs
services/ingestion_prototype/connector_TV_Radio_image/outputs
services/ingestion_prototype/connector_TV_Radio_image/outputs/raw/*

common/
services/pipeline_NLP/outputs_nlp_pipeline/

*logs/