POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=newsdb
NEWSDB_CONTAINER_NAME=newsdb
AIRFLOW_UID=1000 # To obtain this value in your system run: id -u
DOCKER_GID=1001 # To obtain this value in your system run: stat -c '%g' /var/run/docker.sock
